@{
  Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>


    <title>Jasmine Spec Runner</title>

    <link rel="shortcut icon" type="image/png" href="/Content/jasmine/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="/Content/jasmine/jasmine.css">
    <script type="text/javascript" src="/Scripts/Vendor/jasmine/jasmine.js"></script>
    <script type="text/javascript" src="/Scripts/Vendor/jasmine/jasmine-html.js"></script>
    <script type="text/javascript" src="/Scripts/Vendor/jasmine/boot.js"></script>

    <script type="text/javascript" src="/Scripts/Vendor/angular.js"></script>
    <script type="text/javascript" src="/Scripts/Vendor/angular-mocks.js"></script>


    <!-- include source files here... -->
    <script type="text/javascript" src="/Scripts/App/main.js"></script>
    <script type="text/javascript" src="/Scripts/App/Services/MainService.svc.js"></script>
    <script type="text/javascript" src="/Scripts/App/Controllers/MainCtrl.ctrl.js"></script>


    <!-- include test files here... -->
    <script type="text/javascript" src="/Scripts/Tests/Controllers/MainCtrl.ctrl.test.js"></script>


</head>

<body>
</body>
</html>
